{% extends 'base.html' %}

{% block content %}
    <div id="main-content">
        <h2>{{ user.first_name}} {{ user.last_name }}</h2>
        <img src="{{ profile.image.url }}" alt="{{ user.username }}'s profile picture" class="profile-picture">
        <br>
        <h4>Account created - {{ user.date_joined }}</h4>

        <br>
        <br>
        <ul>
            {% for post in profile.posts.all %}
                <li><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></li>
            {% empty %}
                <li><a href="{% url 'add_post' %}" id="navbarText">Share a Spot</a></li>
                {% endfor %}
        </ul>
        <a class="" href="{% url 'edit_profile' user.username %}" id="navbarText">Edit Profile</a>
    </div>
{% endblock %}