{% extends 'base.html' %}

{% block content %}
    <section class="profile-section">
        <h2>{{ profile.user.first_name}} {{ profile.user.last_name }}</h2>
        <img src="{{ profile.profile_image.url }}" alt="{{ profile.user.username }}'s profile picture" class="rounded-circle" alt="User Profile" width="70" height="70">
        <p>{{ profile.bio }}</p>
        <br>
        <h4>Account created - {{ profile.user.date_joined }}</h4>
        {% if request.user == profile.user %}
        <a href="{% url 'edit_profile' user.username %}" class="btn">Edit Profile</a>
        <a href="{% url 'delete_profile' user.username %}" class="btn">Delete Profile</a>
        {% endif %}
    </section>


       <section class="posts-section">
        <ul>
            {% for post in posts %}
            <li>
                <article class="blog-container">
                    <div class="blog-grid">
                        <div class="card">
                            <a href="{% url 'blog_details' post.pk %}" class="underline-removed">
                                <div class="post-title"><h4>{{ post.title }}</h4></div>
                                <h2 class="post-location">{{ post.category }} - {{ post.location }}</h2>
                                <div class="post-body">
                                    <p>{{ post.body | slice:":350" }}....</p>
                                </div>
                                <div class="card-author-content">
                                    <h3 class="post-author post-date">Posted by: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </article>
            </li>
        {% empty %}
            <li>
                <a href="{% url 'add_post' %}" id="navbarText">Share a Spot</a>
            </li>
        {% endfor %}
        </ul>
       </section>
   
{% endblock %}