{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div id="main-content">
<form method="POST">
    <h1 class="form-heading">Share a spot</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create post</button>
</form>
</div>
<a href="{% url 'home' %}" class="btn back-button"> Back</a>
<script>
    var name = "{{ user.id }}";
    document.getElementById("userid").value = 
    name;
</script>

{% else %}

<div id="main-content">
<form method="POST">
    <h1 class="form-heading">Please Log in to create a post.</h1>
    <h1 class="form-heading">Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
</div>
<a href="{% url 'home' %}" class="btn back-button"> Back</a>

{% endif %}

{% endblock %}