{% extends 'base.html' %}

{% block content %}
    <div id="main-content">
        {% if user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            <a href="#" onclick="history.back();" class="btn form-back-button" aria-label="Go back to the previous page"> Back </a>
            <h1 class="form-heading">Share a Spot</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" aria-label="Create post">Create post</button>
        </form>
        <input type="hidden" id="userid" value="{{ user.id }}">
        {% else %}
        <form method="POST">
            <a href="{% url 'home' %}" class="btn form-back-button" aria-label="Go back to home page"> Back</a>
            <h1 class="form-heading">Please Log in to create a post.</h1>
            <h2 class="form-heading">Login</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" aria-label="Login">Login</button>
        </form>
        {% endif %}
    </div>
{% endblock %}