{% extends 'base.html' %} {% block content %}

    {% if user.is_authenticated and user.id == post.author.id%}

    <h1>Spot Location - {{ post.location }}</h1> 
    Posted by - {{ post.author.first_name}} {{ post.author.last_name}} {{ post.author.id}} - 
    {{ post.post_date}} <br/>
    <hr>
    <br/>
    {{ post.title}}
    <br/>
    {{ post.body }} 
    <br/>
    <a href=" {% url 'home' %}" class="btn btn-primary"> Back</a>
    <a href="{% url 'delete_post' post.pk %}">Delete post</a>

    {% else %}
    

    <h1>Spot Location - {{ post.location }}</h1> 
    Posted by - {{ post.author.first_name}} {{ post.author.last_name}} - 
    {{ post.post_date}} 
    <br/>
    <hr>
    <br/>
    {{ post.title}}
    <br/>
    {{ post.body }} 
    <br/>
    <a href=" {% url 'home' %}" class="btn btn-primary"> Back</a>

    {% endif %}
    

  {% endblock %}
