{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated and user.id == comment.author.id %}
    <div class="main-content">
      <form method="POST">
          <h1>Update your comment</h1>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Update</button>
      </form>
    </div>
    <a href="{% url 'home' %}" class="btn back-button" aria-label="back button">Back</a>
  {% else %}
    <div class="card">
      <h1>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to share, update or delete a post.</h1>
    </div>
  {% endif %}
{% endblock %}