{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated and user.id == comment.author.id%}

<div id="main-content">
  <form method="POST">
  <h1>Delete your comment</h1>
  </br>
  <div>{{ comment.body }}</div>
  <br/>
    {% csrf_token %}
    <button type="submit">Delete Comment</button>
  </form>
</div>
<a href="{% url 'home' %}" class="btn back-button"> Back</a>

{% else %}

<div class="card">
<h1>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to share, update or delete a post.</h1>
</div>

{% endif %}

{% endblock %}