{% extends 'base.html' %} 
{% block content %}


<h1>Find a spot</h1>
<div class="container">
   {% for post in object_list %}
   <div class="blog-grid">
      <div class="card" >
         <a href ="{% url 'blog_details' post.pk %}" class="underline-removed">
            <div class="post-title">{{ post.title}}</div>
               <div class="post-body"><p>{{ post.body | slice:":150" }}</p></div>
                   <div class="card-author-content">
                  <!---Add category location-->
                     <h2 class="post-location">{{ post.category }} - {{ post.location }}</h2>
                     <h3 class="post-author">Posted by: {{ post.author.first_name }} {{ post.author.last_name }}</h3>
                     <h3 class="post-date">{{ post.post_date}}</h3>
               <!---this might not look right on the home page <a href="{% url 'delete_post' post.pk %}">Delete post</a> - <a href="{% url 'update_post' post.pk %}"> Edit post</a>--->
                     <br/>
            </div>
         </a>
      </div>
   </div>
</div>

{% if user.is_authenticated and user.id == post.author.id%}<!---update this so delete and edit don't show for other users

   <a href="{% url 'delete_post' post.pk %}">Delete post</a> - <a href="{% url 'update_post' post.pk %}"> Edit post</a>
   <br/>-->

{% else %}

{% endif %}

{% endfor %}

{% endblock %}
