{% extends 'base.html' %} {% load static %}
{% block content %}


<h1>Find a spot</h1>
<div class="container">
   {% for post in object_list %}
   <div class="blog-grid">
      <div class="card">
         <a href ="{% url 'blog_details' post.pk %}"></a>
            <div class="post-body"><p>{{ post.body | slice:":150" }}</p></div>
               <div class="card__content">
                  <!---Add category location-->
               <h2 class="post-location"><a href ="{% url 'blog_details' post.pk %}">{{ post.location }}</h2>
               <h3 class="post-author">Posted by: {{ post.author.first_name }} {{ post.author.last_name }}</h3>
               <h3 class="post-date">{{ post.post_date}}</h3>
               <a href="{% url 'delete_post' post.pk %}">Delete post</a> - <a href="{% url 'update_post' post.pk %}"> Edit post</a>
               <br/>
               </div>
         </a>
      </div>
   </div>
</div>

{% if user.is_authenticated and user.id == post.author.id%}<!---update this so delete and edit don't show for other users-->

   <a href="{% url 'delete_post' post.pk %}">Delete post</a> - <a href="{% url 'update_post' post.pk %}"> Edit post</a>
   <br/>

{% else %}

{% endif %}

{% endfor %}

{% endblock %}
