{% extends 'base.html' %} 
{% load static %}
{% block content %}
    <!-- Show posts for authenticated user only -->
    <div class="blog-container">
    {% if user.is_authenticated %}
    <h1 class="blog-title">Most recent spots<span class="title-circle">.</span></h1>
        <!-- Search Bar -->
    <form class="d-flex w-100 search-form" method="get" action="{% url 'search' %}">
        <div class="search-input-group">
          <input class="search-form-control" type="search" placeholder="Search by location, country, or sport" aria-label="Search" name="q" id="search-input">
          <button type="submit" id="search-button">
            <i class="fa-solid fa-magnifying-glass" id="search-button"></i>
          </button>
        </div>
    </form>
    
        {% for post in object_list %}
            <article class="blog-grid">
                <div class="card">
                    <a href="{% url 'blog_details' post.pk %}" class="underline-removed">
                        <div class="post-title">{{ post.title }}</div>
                        <h2 class="post-location">{{ post.category }} - {{ post.location }}</h2>
                        <div class="post-body">
                            {% if post.post_image %}
                            <img src="{{ post.post_image.url }}" alt="{{ post.title }} image" style="max-width: 100%; height: auto;">
                            {% else %}
                                <p>No image available for this post.</p>
                            {% endif %}
                            <p>{{ post.body | slice:":350" }}...</p>
                        </div>
                        <div class="card-author-content">
                            <h3>Posted by:</h3>
                            <figure>
                            {% if post.author.userprofile.profile_image %}
                                <img src="{{ post.author.userprofile.profile_image.url }}" alt="{{ post.author.username }}'s profile picture" class="rounded-circle"  width="70" height="70">
                            {% else %}
                                <img src="{% static '/images/default profile pic.jpg' %}" alt="Default profile picture" class="rounded-circle"  width="70" height="70">
                            {% endif %}
                                <figcaption class="post-author post-date"> <a href="{% url 'profile' post.author.username %}">
                                    {{ post.author.first_name }} {{ post.author.last_name }} 
                                </a> - {{ post.post_date }}</figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
            </article>
        {% endfor %}
    </div> 
    <!-- Closing container for authenticated user posts -->
    {% else %}
    <!-- Hero Section -->
            <div class="hero">
                <div class="hero-container">
                    <div class="hero-media-query">
                        <h2>PaddleHere - a place to share and find new water sport locations in and around the UK.</h2>
                        <p>Sign up or login to find a spot or share a spot.</p>
                    </div>
                </div>
            </div>
    <!-- Container for blog posts -->
    <div class="blog-container">
        <h1 class="blog-title">Recently Shared Spots<div class="title-circle">.</div></h1>
        <!-- Loop through all posts -->
        {% for post in object_list %}
            <article class="blog-grid">
                <div class="card">
                    <a href="{% url 'blog_details' post.pk %}" class="underline-removed">
                        <div class="post-title">{{ post.title }}</div>
                        <h2 class="post-location">{{ post.category }} - {{ post.location }}</h2>
                            <section class="post-body">
                                {% if post.post_image %}
                                    <img src="{{ post.post_image.url }}" alt="{{ post.title }} image" style="max-width: 100%; height: auto;">
                                    <p>{{ post.body | slice:":350" }}....</p>
                                {% else %}
                                <p>{{ post.body | slice:":350" }}....</p>
                                {% endif %}
                            </section>
                        <footer class="card-author-content">
                            <h3>Posted by:</h3>
                            <firure>
                                {% if post.author.userprofile.profile_image %}
                                <img src="{{ post.author.userprofile.profile_image.url }}" alt="{{ post.author.username }}'s profile picture" class="rounded-circle"  width="70" height="70">
                            {% else %}
                                <img src="{% static '/images/default profile pic.jpg' %}" alt="Default profile picture" class="rounded-circle"  width="70" height="70">
                            {% endif %}
                               <!-- <img src="{{ profile.profile_image.url }}" alt="{{ user.username }}'s profile picture" class="rounded-circle" alt="User Profile" width="70" height="70"> -->  <img src="{{ profile.profile_image.url }}" alt="{{ user.username }}'s profile picture" class="rounded-circle" alt="User Profile" width="70" height="70">
                                <figcaption class="post-author post-date">{{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}</figcaption>
                            </firure>
                        </footer>
                    </a>
                </div>
            </article>
    </div>
        {% endfor %}
    {% endif %}
{% endblock %}