{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated and user.id == post.author.id %}
        <div class="main-content">
            <form method="POST" aria-labelledby="update-post-heading">
                <a href="#" onclick="history.back();" class="btn form-back-button" aria-label="Back button">Back</a>
                <h1 id="update-post-heading">Update your post</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    {% else %}
        <div class="unauth-message">
            <h1>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to share, update, or delete a post.</h1>
        </div>
    {% endif %}
{% endblock %}