body {
    color: black;
    background-color: #FFF9E2;
}

/*     Nav Bar  */
nav img {
  margin-right: 600px;
}
 
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:black;
    margin-left: 18px;
    margin-right: 18px;
    padding:0px 0px 0px 8px;
    border-bottom: 3px solid transparent; 
    transition: border-color 0.2s ease;
    position: relative;
}

.nav-link:hover {
  border-color: black;
}

/* Add blog post styling */

.add-post-form {
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

.add-post-form button[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: solid 4px black;
    cursor: pointer;
    font-size: 16px;
    animation: bounce 0.5s infinite alternate;
  }

  /* Footer */

.blue {
  position: relative;
  margin: 0.1px;
  border: 3.5px solid #669fb2;
  display: flex;
  align-items: center;
  justify-content: center;

}
.brown {
  height:100%;
  width:100%;
  position: relative;
  margin: 0.1px;
  border: 4px solid #5a3d2b;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}
.beige {
   height:100%;
  width:100%;
  position: relative;
  margin: 0.1px;
  border: 4px solid #ffecb4;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.aubun {
  height:100%;
  width:100%;
  position: relative;
  margin: 0.1px;
  border: 4px solid #e5771e;
  display: flex;
  align-items: center;
  justify-content: center;
   
}
.orange {
  height:100%;
  width:100%;
  position: relative;
  margin:0.1px;
  border: 4px solid #f4a127;
  display: flex;
  align-items: center;
  justify-content: center;

}
.footer-text {
  background-color: #fff9e2;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  /*animation: slide 5s infinite linear;*/
  z-index:-900;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
  .github-link-text {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px; 
}