

body {
    background-color: #f9f9f9;
    height: 100%;
}
/*     Nav Bar  */

nav {
  background: #94C5CC;
  border-bottom: 1px solid #F5FBF9;
}

nav img {
  margin-top: 10px;
  margin-left: 1em;
  margin-right: 1em;
  width: 100px;
  height: auto; 
}
 
.navbar-nav .nav-item:nth-child(1) .nav-link,
.navbar-nav .nav-item:nth-child(2) .nav-link,
.navbar-nav .nav-item:nth-child(3) .nav-link,
.navbar-nav .nav-item:nth-child(4) .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color:#F5FBF9;
    margin-left: 0.5em;
    margin-right: 25px;
    border-bottom: 2px solid transparent; 
    transition: border-color 0.2s ease;
    position: relative;
    padding-bottom: 0;
    box-sizing: border-box;
}


/* Hero Section */

.hero {
background-color: #F5FBF9;
background-image: url("/static/images/heroimage2.jpg");
color: #F5FBF9;
padding-top: 30px;
padding-bottom: 100px;
padding-right: 50px;
background-size: cover;
background-position: center; 
background-blend-mode: multiply;
background-repeat: no-repeat; 
}

.hero h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-weight: bold;
  font-size: 2.2em;
  margin-top: 40px;
  margin-bottom: 5px; 
  margin-left: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-container {
  width: 100%; 
  max-width: 100%; 
  height: 20vw; 

}

/* Add blog post title styling */

.blog-title {
  text-align: center;
  align-items: center; 
  justify-content: center; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 2.8em;
  letter-spacing: 3px;
  border-bottom: 2px solid #94C5CC;
  line-height: normal;
}

.title-circle {
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4em;
  color: #94C5CC;
  display:inline;
}
/*blog post home and details page*/

.blog-container {
  max-width: auto;
  margin-inline: auto;
  background-color: #f9f9f9;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 1.5rem;
  background-color: #f9f9f9;
}

.card {
  position: relative;
  margin: 10px 50px 25px 50px;
  padding: 10px;
  flex: 1 0 200px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  border: 1.5px solid white;
}

.underline-removed {
  text-decoration: none !important;
}

.post-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1.1vw;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color:black;
  padding-top: 0.5rem;
  padding-bottom: 5px;
  margin-left: 20px;
}

.post-body {
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  color:black;
  border-radius: 5px;
  margin: 30px;
  padding: 2rem;

}

.post-location {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: bold;
  font-weight: 700;
  color: black;
  padding-top: 0.3rem;
  margin-left: 20px;
}

.post-author {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: bold;
  color: #7f7f7f;
  padding-left: 0.5rem;
  margin-left: 20px;  
}

.post-date {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9vw;
  font-weight: bold;
  color:#7f7f7f;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 20px;
}

/* Edit and delete post links */
.card-author-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-delete-container {
  display:flex;
  gap: 2px;
}

.edit-delete-post {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 1vw;
  font-weight: bold;
  font-weight: 500;
  color: #94C5CC;
  margin-right: 20px;
}

/* prohibits inherited styles*/
#like-form form {
  border-radius: initial;
  border: initial;
  box-shadow: initial;
  margin: initial;
  padding: initial;
  font-size: initial;
}

#like-form {
  margin-right: 85%;
}
/* Styles text and center with button */
#like-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4vh;
  border-radius: 2px;
}

#like-button form,
#like-button p {
  font-family: 'Montserrat', sans-serif;
  display: inline;
  vertical-align: bottom;
  font-weight: 600;
  margin:0;
}

#like-button button {
  font-size: 2.4vh;
  margin-right: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  
}

#like-button p {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
}

/* Comment Section */
 .comments-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-left: 20px;
  font-size: 1.8em;
  letter-spacing: -1px;

 }


/* Back and Add comment Button*/

.button-container {
  margin-top: 30px;
}

.comment-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #f5fbf9;
  max-width: 180px; 
  background-color: #94C5CC;
  border-bottom-right-radius: 14px;
  border: 1px solid transparent;
  display: inline-block;
  
}

.back-button {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #f5fbf9;
  max-width: 90px; 
  background-color: #94C5CC;
  border-bottom-left-radius: 14px;
  border: 1px solid transparent;
  display: inline-block;
}

/* Forms login, signup, share, delete */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 400px; 
  padding: 20px;
  border-radius: 10px; 
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h1 {
  color: #94C5CC;
  margin-bottom: 15px;
  
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}

form p a {
  color: #B4D2E7; 
  margin-left: 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}

form button[type="submit"] {
  font-weight: 600;
  background-color: #94C5CC; 
  color: #f5fbf9; 
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="title"],
form input[type="category"],
form input[type="location"],
form textarea {
  width: 320px;
  padding: 10px; 
  margin-bottom: 10px; 
  border-radius: 5px; 
}

/* Background for form pages*/
#main-content {
  min-height: calc(100vh - 115px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

/*Footer*/

footer {
  position: relative;
  bottom: 0;
  width:100%;
  }

.blue {
  width: 100%;
  position: relative;
  background-color: #94C5CC;
  border-top: 2px solid #94C5CC;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.footer-text p,
.footer-text a {
  display: flex;
  align-items: center;
  display: inline;
  color: #F5FBF9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}



/* Media Querys */

@media (max-width: 768px) {
  nav img {
      margin-left: 0.3em;
  }
}
@media screen and (max-width: 768px) {
  .hero-media-query {
    font-size: 1.9vw;
    margin-bottom: 4vw;
    margin-left: 2vw; 
    padding-bottom: 0px;
  }
  .hero-container {
    height: 20vw; 
  }
}
@media (max-width: 768px) {
  .blog-title {
      font-size: 1.5em;
  }
}
@media (max-width: 768px) {
  .blog-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1.5rem;
    background-color: #f9f9f9;
  }
  
  .card {
    margin-left: 20px;
    margin-right: 20px;
    flex: 1 0 100px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .post-title, .post-location {
    font-size: 2.8vw;
    letter-spacing: 0.5px;
    padding-top: 0.2rem;
  }
  
  .post-body {
    text-align: left;
    margin: 3px;
  }
  
  .post-author {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6vw;
    font-weight: bold;
    color: #7f7f7f;
    padding-left: 0.5rem;
  }
  
  .post-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6vw;
    font-weight: bold;
    color:#7f7f7f;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
}
@media screen and (max-width: 767px) {
  form input[type="text"],
  form input[type="password"],
  form input[type="email"],
  form input[type="title"],
  form input[type="category"],
  form input[type="location"],
  form textarea {
    width: 270px;
    max-width: none;
  }
}