
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FBFDF3;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container-fluid {
  max-width: 1200px;
}
.navbar {
  background-color: #94C5CC;
}

.navbar-nav {
  justify-content: flex-end;
  align-items: center;
}

/* Profile Picture */
.navbar-nav .nav-link img {
  border: 5px solid #F5FBF9;
  border-radius: 50%;
}

.dropdown-toggle {
  color: white;
  font-size: 1.2rem;
}
/* Buttons for Sign In / Sign Up */
.navbar .btn-sign-up {
  background-color: #94C5CC;
  border: 1px solid #f9f9f9;
  border-radius: 14px;
  border-color: #f9f9f9;
  color: #f9f9f9;
  margin-left: 10px;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  font-weight: 500;
}

.navbar .btn-sign-up:hover {
  background-color:#f5fbf9;
  color: #94C5CC;

}

.navbar .btn {
  color: #f9f9f9;
  font-weight: 500;
}

.navbar .btn:hover {
  text-decoration: underline;
}

.profile-dropdown {
  margin-right: 15px;
}

/* Hero Section */

.hero {
background-color: #FBFDF3;
background-image: url("/static/images/heroimage2.jpg");
color: #F5FBF9;
padding-top: 30px;
padding-bottom: 100px;
padding-right: 50px;
margin: 25px;
background-size: cover;
background-position: center; 
background-blend-mode: multiply;
background-repeat: no-repeat; 
border-radius: 12px;
}

.hero h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-weight: bold;
  font-size: 2.2em;
  margin-top: 40px;
  margin-bottom: 5px; 
  margin-left: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-container {
  width: 100%; 
  max-width: 100%; 
  height: 20vw; 

}

/* Search bar */
.search-position {
  justify-content: left;
}
.search-form {
  background: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  width: 0%; 
}

.search-input-group {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}

.search-input-group input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 6px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
}

.search-input-group input:focus {
  border-color: black;
  outline: none;
}

#search-input {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
}

#search-button {
  background-color: #94C5CC;
  border: none;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
}

#search-button .bi-search {
  font-size: 10px;
  font-weight: 400;
  color: white;
}

.search-form-control {
  border-radius: 20px;
  box-sizing: border-box;
}



/* Search results template */
.search-results {
  list-style: none;
}
/* Unauthorised user templates ie sign up sign in links */

.unauth-titles {
  color: black;
  margin-top: 5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/* Add blog post title styling */

.blog-title {
  text-align: center;
  align-items: center; 
  justify-content: center; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.8em;
  letter-spacing: 1px;
  border-top: 2px solid #94C5CC;
  line-height: normal;
}

.title-circle {
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4em;
  color: #94C5CC;
  display:inline;
}
/*blog post home and details page*/

.blog-container {
  max-width: auto;
  margin-inline: auto;
  background-color: #FBFDF3;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 1.5rem;
  background-color: #FBFDF3;
}

.card {
  overflow: hidden; 
  position: relative;
  margin: 20px auto; 
  padding: 16px; 
  width: 800px; 
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  border: 1.5px solid white;
}

.underline-removed {
  text-decoration: none !important;
}

.post-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-author-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 16px;
}

.author-figure {
  margin: 0;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.post-title {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1.1vw;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color:black;
  padding-top: 1rem;
  padding-bottom: 5px;
}

.post-body {
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color:black;
  border-radius: 5px;
  margin: 15px;
  padding: 1rem;

}

.post-caption {
  color:black;
  margin: 15px;
  padding-left: 16px;
}

.post-location {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: bold;
  font-weight: 700;
  color: black;
  padding-top: 1rem;
  margin-left: 15px;
  padding-left: 16px;
}

.post-author a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: bold;
  color: #94C5CC;
  text-decoration: none;  
}

.post-date {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9vw;
  font-weight: bold;
  color:#7f7f7f;
  padding-bottom: 0.5rem;
}

/* Edit and delete post links */


.edit-delete-container {
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.edit-delete-post {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7vw;
  font-weight: 500;
  color: #94C5CC;
  margin-right: 20px;
  margin-bottom: 15px;
}

/* prohibits inherited styles*/

#like-form {
  order: -1;
  margin-left: 5px;
}

#like-form form {
  border-radius: initial;
  border: initial;
  box-shadow: initial;
  margin: initial;
  padding: initial;
  font-size: initial;
  display: flex;
  align-items: center;
}

/* Styles text and center with button */

#like-button {
  display: flex;
  align-items: center;
  font-size: 2.4vh;
  padding-top: 0.2vh;
  width:auto;
  margin-left: 5px;
}


#like-button button {
  border-radius: 0;
  height: 3vh;
  font-size: 1.5vh;
  margin-right: 10px;
  padding: 3px 8px;
  
}

#like-button p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  margin: 0;
  white-space: nowrap
}

/*Colored hr comment section */

.colored-hr {
  color:#B4D2E7;
  border-style: solid;
  border-width: 1px;
}

/* Comment Section */

 .comments-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-left: 20px;
  font-size: 1.8em;
  letter-spacing: -1px;
  padding-bottom: 10px;

 }

 .comment-body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-left: 20px;
  padding-left: 0.5rem;
 }

/* form back button */

.form-back-button {
  margin-bottom: 2vh;
  margin-right: 80%;
  left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #f5fbf9;
  max-width: 90px; 
  background-color: #94C5CC;
  border: 1px solid transparent;
  
}
/* Back and Add comment Button*/

.button-container {
  margin-top: 30px;
}

.comment-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #f5fbf9;
  max-width: 180px; 
  background-color: #94C5CC;
  border-bottom-right-radius: 14px;
  border: 1px solid transparent;
  display: inline-block;

}

.back-button {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #f5fbf9;
  max-width: 90px; 
  background-color: #94C5CC;
  border-bottom-left-radius: 14px;
  border: 1px solid transparent;
  display: inline-block;
}

/* Forms login, signup, share, delete */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 400px; 
  padding: 20px;
  border-radius: 10px; 
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h1 {
  color: #94C5CC;
  padding: 0.3vh;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}

form p a {
  color: #B4D2E7; 
  margin-left: 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}

form button[type="submit"] {
  font-weight: 600;
  background-color: #94C5CC; 
  color: #f5fbf9; 
  border: none;
  padding: 5px 20px;
  border-radius: 12px;
  cursor: pointer;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="title"],
form input[type="category"],
form input[type="location"],
form textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 5px; 
  margin-bottom: 10px; 
  border-radius: 5px;
}

/* Background for form pages */
#main-content {
  min-height: calc(100vh - 115px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBFDF3;
}

/* Footer */

footer {
  flex-shrink: 0;
  position: relative;
  bottom: 0;
  width:100%;
  }

.blue {
  width: 100%;
  position: relative;
  background-color: #94C5CC;
  border-top: 2px solid #94C5CC;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.footer-text p,
.footer-text a {
  display: flex;
  align-items: center;
  display: inline;
  color: #F5FBF9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}



/* NavBar*/


@media (max-width: 767.98px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .navbar-nav .nav-item {
    display: block;
    margin: 0 auto;
  }

  .navbar-search {
    width: 100%;
    margin-top: 15px;
  }

  .profile-dropdown {
    display: block;
    text-align: right;
  }
}

@media (min-width: 768px) {
  .profile-dropdown {
    display: none;
  }
}

/* Hero Section */

@media screen and (max-width: 768px) {
  .hero-media-query {
    font-size: 1.9vw;
    margin-bottom: 4vw;
    margin-left: 2vw; 
    padding-bottom: 0px;
  }
  .hero-container {
    height: 20vw; 
  }
}

/* Blog post home and details, edit delete post*/

@media (max-width: 768px) {
  .blog-title {
    font-size: 1.5em;
}
  .blog-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1.5rem;
    background-color: #f9f9f9;
  }
  
  .card {
    margin-left: 20px;
    margin-right: 20px;
    flex: 1 0 100px;
    background-color: white;
    margin-bottom: 20px;
    padding: 5px;
  }
  
  .post-title, .post-location {
    font-size: 2.8vw;
    letter-spacing: 0.5px;
    padding-top: 0.4rem;
  }
  
  .post-body {
    text-align: left;
    margin: 3px;
  }
  
  .post-author {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6vw;
    font-weight: bold;
    color: #7f7f7f;
    padding-left: 0rem;
  }
  
  .post-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2vw;
    font-weight: bold;
    color:#7f7f7f;
    padding-left: 0.3rem;
    padding-bottom: 0.5rem;
  }
  .edit-delete-post {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 2.2vw;
    font-weight: bold;
    font-weight: 500;
    color: #94C5CC;
    padding-top: 1vh;
    margin-right: 8px;
    margin-bottom: 22px;
  }
  
}

/* Comment Section */

@media screen and (max-width: 767px) {
  .comments-title {
    font-size: 1.5em;
    letter-spacing: -1px;
   }
}


/* form inputs*/

@media screen and (max-width: 767px) {
  form input[type="text"],
  form input[type="password"],
  form input[type="email"],
  form input[type="title"],
  form input[type="category"],
  form input[type="location"],
  form textarea {
    width: 270px;
    max-width: none;
  }
}

/* Like buttons for post and comment*/

@media screen and (max-width: 767px) {
  #like-form form {
    border-radius: initial;
    border: initial;
    box-shadow: initial;
    margin: initial;
    padding: initial;
    font-size: initial;
  }
  
  #like-form {
    margin-right: auto;
  }
  
  #like-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vh;
    border-radius: 2px;
    margin-left: 2vh;
  }
}

/* Media Querys for tablets 768 - 1200 */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .edit-delete-post {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: bold;
    font-weight: 500;
    color: #94C5CC;
    padding-top: 1vh;
    margin-right: 8px;
    margin-bottom: 22px;
  }

  #like-button button {
    border-radius: 0;
    height: 2vh;
    font-size: 1vh;
    margin-right: 10px;
    padding: 3px 8px;
    
  }
  #like-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2vh;
    border-radius: 2px;
    margin-left: 2vh;
  }

.post-title, .post-location {
  font-size: 2.5vw;
  letter-spacing: 0.5px;
  padding-top: 0.4rem;
}
.post-author {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4vw;
  font-weight: bold;
  color: #7f7f7f;
  padding-left: 0rem;
}

.post-date {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4vw;
  font-weight: bold;
  color:#7f7f7f;
  padding-left: 0.3rem;
  padding-bottom: 0.5rem;
}
}