{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="post-header-section">
    <h1 class="post-header-title sign-up-title">Sign Up to Find And Share New Spots<span class="title-circle">.</span></h1>
    <img src="{% static '/images/postdetailimage.png'%}" class="post-header-image" alt="header-image">
</div>
<div id="main-content">
    <form method="POST" id="user-form">
        <a href="#" onclick="history.back();" class="btn form-back-button" aria-label="Back button">Back</a>
        <h1 class="form-heading">Sign Up</h1>
        <p>Already have an account? <a href="{% url 'login' %}" class="signin-text">Sign in here</a></p>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="primaryAction register-button">Confirm</button>
    </form>
</div>
{% endblock %}